{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSTY</title>
</head>
<body>
    <header><nav><ul><li>accueil</li>
    <li>appropos</li>
<li>login</li></ul></nav></header>
<h1>welcome in our universty</h1>
<img src="training/static/image/prof.jfif" alt="">
<img src="training/static/image/teacher1.jfif" alt="">
<a href="{%url 'nos_services'%}">services</a>
<a href="{%url 'nos_services'%}">information</a>
</body>
</html>